body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Couleur de fond légère */
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.graphique {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 400px; /* Ajustez la largeur selon vos besoins */
}

h2 {
    margin-top: 0;
}